
.x.swp

XVim.xcodeproj/project.xcworkspace/xcuserdata/michaelhoegeman.xcuserdatad/UserInterfaceState.xcuserstate

XVim.xcodeproj/xcuserdata/shu.xcuserdatad/
XVim.xcodeproj/xcuserdata/Morris.xcuserdatad/
XVim.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
XVim.xcodeproj/xcuserdata/dojoteef.xcuserdatad/xcschemes/xcschememanagement.plist

XVim.xcodeproj/xcuserdata/dojoteef.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

XVim.xcodeproj/xcuserdata/michaelhoegeman.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
